/* ===== RESET & BASE ===== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0a0e17;
  --text-color: #ffffff;
  --main-color: #00ff6c;     
  --hover-color: #00abf0;    
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0a0e17;          
  color: #ededed;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
    text-decoration: none !important;

  font-size: 2.5rem;
 color:var(--text-color);
 font-weight: 600;
}




.navbar a {
  font-size: 1.7rem;            
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}
.navbar a:hover,
.navbar a.active {
  color: var(--hover-color);   
}
#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display:none;
}

section{
  min-height: 100vh;
  padding: 10 rem 9% 2rem;
}
.home{
  display: flex;
  align-items: center;
  padding: 0.9%;
}

.home-content{
  max-width: 60rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}
.home-content .text-animate{
  position: relative;
  width: 32.8rem;
}

.home-content .text-animate h3{
  font-size: 3.2rem;
  font-weight: 700;
  color:transparent;

  -webkit-text-stroke: .7px var(--main-color);
}

.home-content p{
  font-size: 1.6rem;
  margin:2rem 0 4rem

}
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;   
  width: 34.5rem;
  height: 5rem;
  gap: 2rem;                        
}

.btn-box .btn {
  text-decoration: none !important;
  position: relative;
  display: flex;                   
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;                     
  background: var(--hover-color);    
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  border-radius: .8rem ;
  z-index: 1;
  overflow: hidden;
border: 3px solid var(--hover-color);
transition: .5s ;
}

.btn-box .btn::before {
  content: ' ';
  position:absolute;
  top: 0;
  left: 0;
  width:0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
                      
}

.btn-box .btn:hover::before {

         width: 100%;
               
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--hover-color)

}

.btn-box .btn:nth-child(2)::before{
  background: var(--hover-color);

}

.home-sci{
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
 border: .2rem solid var(--hover-color);
 border-radius: 50%;
 font-size: 20px;
color: var(--hover-color);}

